In [1]:
pip install kafka-python

Requirement already satisfied: kafka-python in c:\python\python37\lib\site-packages (2.0.2)Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from kafka import KafkaConsumer, KafkaProducer
from time import sleep
from json import dumps
import json

In [2]:
producer = KafkaProducer(bootstrap_servers=[':9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [3]:
producer.send('stockmarket-project-1', value={'data':'science'})

In [4]:
df = pd.read_csv("indexProcessed.csv")

In [6]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [7]:
df.sample(5)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
68671,GSPTSE,1990-01-24,3760.399902,3763.399902,3747.100098,3761.500000,3751.947998,44720000.0,3122.045000
97795,TWII,2004-10-07,6116.100098,6133.959961,6066.189941,6103.000000,6102.977539,4582800.0,244.120000
47441,N225,1991-06-21,24095.179690,24427.750000,24048.429690,24275.080080,24275.080080,0.0,242.750801
95643,SSMI,2019-11-27,10531.679690,10544.040040,10501.169920,10529.259770,10529.259770,47103800.0,11687.478345
39609,000001.SS,2016-01-06,3291.195068,3362.974121,3288.933105,3361.840088,3361.840088,238900.0,537.894414

In [14]:
df.sample(1).to_dict(orient="records")[0]

{'Index': 'SSMI',
 'Date': '2019-11-28',
 'Open': 10512.09961,
 'High': 10538.99023,
 'Low': 10503.73047,
 'Close': 10529.13965,
 'Adj Close': 10529.13965,
 'Volume': 27274900.0,
 'CloseUSD': 11687.3450115}

In [ ]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('stockmarket-project-1', value=dict_stock)
    sleep(1)

In [9]:
producer.flush()